In [23]:
!rm wwii.sqlite.sqlite

rm: wwii.sqlite.sqlite: No such file or directory

In [24]:
import pandas as pd
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, DateTime

In [25]:
engine = create_engine("sqlite:///wwii.sqlite")

In [26]:
conn = engine.connect()

In [27]:
Base = declarative_base()

class Population(Base):
    __tablename__ = 'population'

    id = Column(Integer, primary_key=True)
    country = Column(String)
    year_1920 = Column(Float)
    year_1921 = Column(Float)
    year_1922 = Column(Float)
    year_1923 = Column(Float)
    year_1924 = Column(Float)
    year_1925 = Column(Float)
    year_1926 = Column(Float)
    year_1927 = Column(Float)
    year_1928 = Column(Float)
    year_1929 = Column(Float)
    year_1930 = Column(Float)
    year_1931 = Column(Float)
    year_1932 = Column(Float)
    year_1933 = Column(Float)
    year_1934 = Column(Float)
    year_1935 = Column(Float)
    year_1936 = Column(Float)
    year_1937 = Column(Float)
    year_1938 = Column(Float)
    year_1939 = Column(Float)
    year_1940 = Column(Float)
    year_1941 = Column(Float)
    year_1942 = Column(Float)
    year_1943 = Column(Float)
    year_1944 = Column(Float)
    year_1945 = Column(Float)
    year_1946 = Column(Float)
    year_1947 = Column(Float)
    year_1948 = Column(Float)
    year_1949 = Column(Float)
    year_1950 = Column(Float)
    year_1951 = Column(Float)
    year_1952 = Column(Float)
    year_1953 = Column(Float)
    year_1954 = Column(Float)
    year_1955 = Column(Float)
      
#     ['country', '1920', '1921', '1922', '1923', '1924', '1925',
#        '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934',
#        '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943',
#        '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952',
#        '1953', '1954', '1955'],

#station	date	prcp	tobs
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
    
class Gdp(Base):
    __tablename__ = 'gdp'

    id = Column(Integer, primary_key=True)
    country = Column(String)
    year_1914 = Column(Float)
    year_1915 = Column(Float)
    year_1916 = Column(Float)
    year_1917 = Column(Float)
    year_1918 = Column(Float)
    year_1919 = Column(Float)
    year_1920 = Column(Float)
    year_1921 = Column(Float)
    year_1922 = Column(Float)
    year_1923 = Column(Float)
    year_1924 = Column(Float)
    year_1925 = Column(Float)
    year_1926 = Column(Float)
    year_1927 = Column(Float)
    year_1928 = Column(Float)
    year_1929 = Column(Float)
    year_1930 = Column(Float)
    year_1931 = Column(Float)
    year_1932 = Column(Float)
    year_1933 = Column(Float)
    year_1934 = Column(Float)
    year_1935 = Column(Float)
    year_1936 = Column(Float)
    year_1937 = Column(Float)
    year_1938 = Column(Float)
    year_1939 = Column(Float)
    year_1940 = Column(Float)
    year_1941 = Column(Float)
    year_1942 = Column(Float)
    year_1943 = Column(Float)
    year_1944 = Column(Float)
    year_1945 = Column(Float)
    year_1946 = Column(Float)
    year_1947 = Column(Float)
    year_1948 = Column(Float)
    year_1949 = Column(Float)
    year_1950 = Column(Float)
    year_1951 = Column(Float)
    year_1952 = Column(Float)
    year_1953 = Column(Float)
    year_1954 = Column(Float)
    year_1955 = Column(Float)

#station	name	latitude	longitude	elevation
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
    
class Density(Base):
    __tablename__ = 'density'

    id = Column(Integer, primary_key=True)
    country = Column(String)
    year_1950 = Column(Float)
    year_1951 = Column(Float)
    year_1952 = Column(Float)
    year_1953 = Column(Float)
    year_1954 = Column(Float)
    year_1955 = Column(Float)

#station	date	prcp	tobs
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
    
class Life_Expectancy(Base):
    __tablename__ = 'life_expectancy'

    id = Column(Integer, primary_key=True)
    country = Column(String)
    year_1914 = Column(Float)
    year_1915 = Column(Float)
    year_1916 = Column(Float)
    year_1917 = Column(Float)
    year_1918 = Column(Float)
    year_1919 = Column(Float)
    year_1920 = Column(Float)
    year_1921 = Column(Float)
    year_1922 = Column(Float)
    year_1923 = Column(Float)
    year_1924 = Column(Float)
    year_1925 = Column(Float)
    year_1926 = Column(Float)
    year_1927 = Column(Float)
    year_1928 = Column(Float)
    year_1929 = Column(Float)
    year_1930 = Column(Float)
    year_1931 = Column(Float)
    year_1932 = Column(Float)
    year_1933 = Column(Float)
    year_1934 = Column(Float)
    year_1935 = Column(Float)
    year_1936 = Column(Float)
    year_1937 = Column(Float)
    year_1938 = Column(Float)
    year_1939 = Column(Float)
    year_1940 = Column(Float)
    year_1941 = Column(Float)
    year_1942 = Column(Float)
    year_1943 = Column(Float)
    year_1944 = Column(Float)
    year_1945 = Column(Float)
    year_1946 = Column(Float)
    year_1947 = Column(Float)
    year_1948 = Column(Float)
    year_1949 = Column(Float)
    year_1950 = Column(Float)
    year_1951 = Column(Float)
    year_1952 = Column(Float)
    year_1953 = Column(Float)
    year_1954 = Column(Float)
    year_1955 = Column(Float)

#station	name	latitude	longitude	elevation
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [28]:
Base.metadata.create_all(engine)

In [29]:
population = "population_final_cleaned.csv"
density = "density_final_cleaned.csv"
gdp = "gdp_final_cleaned.csv"
life_exp = "life_exp_final_cleaned.csv"

In [30]:
population_df = pd.read_csv(population)
density_df = pd.read_csv(density)
gdp_df = pd.read_csv(gdp)
life_exp_df = pd.read_csv(life_exp)

In [31]:
populations = population_df.to_dict(orient='records')

In [32]:
densities = density_df.to_dict(orient='records')

In [33]:
gdps = gdp_df.to_dict(orient='records')

In [34]:
life_expects = life_exp_df.to_dict(orient='records')

In [35]:
print(populations[:2])

[{'country': 'Abkhazia', 'year_1920': nan, 'year_1921': nan, 'year_1922': nan, 'year_1923': nan, 'year_1924': nan, 'year_1925': nan, 'year_1926': nan, 'year_1927': nan, 'year_1928': nan, 'year_1929': nan, 'year_1930': nan, 'year_1931': nan, 'year_1932': nan, 'year_1933': nan, 'year_1934': nan, 'year_1935': nan, 'year_1936': nan, 'year_1937': nan, 'year_1938': nan, 'year_1939': nan, 'year_1940': nan, 'year_1941': nan, 'year_1942': nan, 'year_1943': nan, 'year_1944': nan, 'year_1945': nan, 'year_1946': nan, 'year_1947': nan, 'year_1948': nan, 'year_1949': nan, 'year_1950': nan, 'year_1951': nan, 'year_1952': nan, 'year_1953': nan, 'year_1954': nan, 'year_1955': nan}, {'country': 'Afghanistan', 'year_1920': nan, 'year_1921': nan, 'year_1922': nan, 'year_1923': nan, 'year_1924': nan, 'year_1925': nan, 'year_1926': nan, 'year_1927': nan, 'year_1928': nan, 'year_1929': nan, 'year_1930': nan, 'year_1931': nan, 'year_1932': nan, 'year_1933': nan, 'year_1934': nan, 'year_1935': nan, 'year_1936': nan, 'year_1937': nan, 'year_1938': nan, 'year_1939': nan, 'year_1940': nan, 'year_1941': nan, 'year_1942': nan, 'year_1943': nan, 'year_1944': nan, 'year_1945': nan, 'year_1946': nan, 'year_1947': nan, 'year_1948': nan, 'year_1949': nan, 'year_1950': 8151455.0, 'year_1951': 8276820.0, 'year_1952': 8407148.0, 'year_1953': 8542906.0, 'year_1954': 8684494.0, 'year_1955': 8832253.0}]

In [36]:
print(densities[:5])

[{'country': 'Abkhazia', 'year_1950': nan, 'year_1951': nan, 'year_1952': nan, 'year_1953': nan, 'year_1954': nan, 'year_1955': nan}, {'country': 'Afghanistan', 'year_1950': 12.501, 'year_1951': 12.693, 'year_1952': 12.893, 'year_1953': 13.101, 'year_1954': 13.318, 'year_1955': 13.545}, {'country': 'Akrotiri and Dhekelia', 'year_1950': nan, 'year_1951': nan, 'year_1952': nan, 'year_1953': nan, 'year_1954': nan, 'year_1955': nan}, {'country': 'Albania', 'year_1950': 42.264, 'year_1951': 43.132, 'year_1952': 44.153, 'year_1953': 45.309, 'year_1954': 46.58600000000001, 'year_1955': 47.968}, {'country': 'Algeria', 'year_1950': 3.675, 'year_1951': 3.759, 'year_1952': 3.838, 'year_1953': 3.916, 'year_1954': 3.995, 'year_1955': 4.079}]

In [37]:
print(gdps[:2])

[{'country': 'Abkhazia', 'year_1914': nan, 'year_1915': nan, 'year_1916': nan, 'year_1917': nan, 'year_1918': nan, 'year_1919': nan, 'year_1920': nan, 'year_1921': nan, 'year_1922': nan, 'year_1923': nan, 'year_1924': nan, 'year_1925': nan, 'year_1926': nan, 'year_1927': nan, 'year_1928': nan, 'year_1929': nan, 'year_1930': nan, 'year_1931': nan, 'year_1932': nan, 'year_1933': nan, 'year_1934': nan, 'year_1935': nan, 'year_1936': nan, 'year_1937': nan, 'year_1938': nan, 'year_1939': nan, 'year_1940': nan, 'year_1941': nan, 'year_1942': nan, 'year_1943': nan, 'year_1944': nan, 'year_1945': nan, 'year_1946': nan, 'year_1947': nan, 'year_1948': nan, 'year_1949': nan, 'year_1950': nan, 'year_1951': nan, 'year_1952': nan, 'year_1953': nan, 'year_1954': nan, 'year_1955': nan}, {'country': 'Afghanistan', 'year_1914': nan, 'year_1915': nan, 'year_1916': nan, 'year_1917': nan, 'year_1918': nan, 'year_1919': nan, 'year_1920': nan, 'year_1921': nan, 'year_1922': nan, 'year_1923': nan, 'year_1924': nan, 'year_1925': nan, 'year_1926': nan, 'year_1927': nan, 'year_1928': nan, 'year_1929': nan, 'year_1930': nan, 'year_1931': nan, 'year_1932': nan, 'year_1933': nan, 'year_1934': nan, 'year_1935': nan, 'year_1936': nan, 'year_1937': nan, 'year_1938': nan, 'year_1939': nan, 'year_1940': nan, 'year_1941': nan, 'year_1942': nan, 'year_1943': nan, 'year_1944': nan, 'year_1945': nan, 'year_1946': nan, 'year_1947': nan, 'year_1948': nan, 'year_1949': nan, 'year_1950': 757.3187954, 'year_1951': 766.7521974, 'year_1952': 779.4453145, 'year_1953': 812.8562795, 'year_1954': 815.3595213, 'year_1955': 816.414838}]

In [38]:
print(life_expects[:2])

[{'country': 'Afghanistan', 'year_1914': 27.04288, 'year_1915': 27.03263333, 'year_1916': 27.02238667, 'year_1917': 27.01214, 'year_1918': 7.04506271, 'year_1919': 26.99164667, 'year_1920': 26.9814, 'year_1921': 26.97115333, 'year_1922': 26.96090667, 'year_1923': 26.95066, 'year_1924': 26.94041333, 'year_1925': 26.93016667, 'year_1926': 26.91992, 'year_1927': 26.90967333, 'year_1928': 26.89942667, 'year_1929': 26.88918, 'year_1930': 26.87893333, 'year_1931': 26.86868667, 'year_1932': 26.85844, 'year_1933': 26.84819333, 'year_1934': 26.83794667, 'year_1935': 26.8277, 'year_1936': 26.81745333, 'year_1937': 26.80720667, 'year_1938': 26.79696, 'year_1939': 26.78671333, 'year_1940': 26.77646667, 'year_1941': 26.76622, 'year_1942': 26.75597333, 'year_1943': 26.74572667, 'year_1944': 26.73548, 'year_1945': 26.72523333, 'year_1946': 26.71498667, 'year_1947': 26.70474, 'year_1948': 26.69449333, 'year_1949': 26.68424667, 'year_1950': 26.674, 'year_1951': 26.932, 'year_1952': 27.448, 'year_1953': 27.964, 'year_1954': 28.48, 'year_1955': 28.995}, {'country': 'Albania', 'year_1914': 35.4, 'year_1915': 35.4, 'year_1916': 35.4, 'year_1917': 35.4, 'year_1918': 19.42793192, 'year_1919': 35.4, 'year_1920': 35.4, 'year_1921': 35.4, 'year_1922': 35.4, 'year_1923': 35.4, 'year_1924': 35.4, 'year_1925': 35.4, 'year_1926': 35.4, 'year_1927': 35.4, 'year_1928': 35.4, 'year_1929': 35.4, 'year_1930': 36.29480952, 'year_1931': 37.18961905, 'year_1932': 38.08442857, 'year_1933': 38.9792381, 'year_1934': 39.87404762, 'year_1935': 40.76885714, 'year_1936': 41.66366667, 'year_1937': 42.55847619, 'year_1938': 43.45328571, 'year_1939': 43.0, 'year_1940': 42.0, 'year_1941': 41.5, 'year_1942': 40.0, 'year_1943': 37.0, 'year_1944': 34.0, 'year_1945': 47.0, 'year_1946': 50.0, 'year_1947': 51.50657143, 'year_1948': 52.40138095, 'year_1949': 53.29619048, 'year_1950': 54.191, 'year_1951': 54.399, 'year_1952': 54.87600000000001, 'year_1953': 55.471, 'year_1954': 56.184, 'year_1955': 57.012}]

In [39]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [40]:
table1 = sqlalchemy.Table('population', metadata, autoload=True)
table2 = sqlalchemy.Table('gdp', metadata, autoload=True)
table3 = sqlalchemy.Table('density', metadata, autoload=True)
table4 = sqlalchemy.Table('life_expectancy', metadata, autoload=True)

In [41]:
conn.execute(table1.insert(), populations)
conn.execute(table2.insert(), gdps)
conn.execute(table3.insert(), densities)
conn.execute(table4.insert(), life_expects)

In [43]:
conn.execute("select * from population limit 5").fetchall()

[(1, 'Abkhazia', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (2, 'Afghanistan', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 8151455.0, 8276820.0, 8407148.0, 8542906.0, 8684494.0, 8832253.0),
 (3, 'Akrotiri and Dhekelia', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (4, 'Albania', 932000.0, 937000.0, 942000.0, 947000.0, 952000.0, 956000.0, 962000.0, 967000.0, 972000.0, 977000.0, 982000.0, 988000.0, 993000.0, 998000.0, 1003000.0, 1009000.0, 1014000.0, 1030000.0, 1040000.0, 1070000.0, 1088000.0, 1100000.0, 1117000.0, 1119000.0, 1122000.0, 1138000.0, 1154000.0, 1175000.0, 1192000.0, 1209000.0, 1215002.0, 1239971.0, 1269302.0, 1302536.0, 1339240.0, 1378998.0),
 (5, 'Algeria', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 8752997.0, 8953373.0, 9140990.0, 9326099.0, 9515990.0, 9715002.0)]

In [44]:
conn.execute("select * from gdp limit 5").fetchall()

[(1, 'Abkhazia', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (2, 'Afghanistan', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 757.3187954, 766.7521974, 779.4453145, 812.8562795, 815.3595213, 816.414838),
 (3, 'Akrotiri and Dhekelia', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (4, 'Albania', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1417.529606, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1532.353932, 1598.49275, 1601.056136, 1665.794737, 1714.6887760000004, 1807.130587),
 (5, 'Algeria', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 2429.213704, 2397.531111, 2449.008185, 2436.33995, 2557.818507, 2572.474443)]

In [46]:
conn.execute("select * from density limit 5").fetchall()

[(1, 'Abkhazia', None, None, None, None, None, None),
 (2, 'Afghanistan', 12.501, 12.693, 12.893, 13.101, 13.318, 13.545),
 (3, 'Akrotiri and Dhekelia', None, None, None, None, None, None),
 (4, 'Albania', 42.264, 43.132, 44.153, 45.309, 46.58600000000001, 47.968),
 (5, 'Algeria', 3.675, 3.759, 3.838, 3.916, 3.995, 4.079)]

In [47]:
conn.execute("select * from life_expectancy limit 5").fetchall()

[(1, 'Afghanistan', 27.04288, 27.03263333, 27.02238667, 27.01214, 7.04506271, 26.99164667, 26.9814, 26.97115333, 26.96090667, 26.95066, 26.94041333, 26.93016667, 26.91992, 26.90967333, 26.89942667, 26.88918, 26.87893333, 26.86868667, 26.85844, 26.84819333, 26.83794667, 26.8277, 26.81745333, 26.80720667, 26.79696, 26.78671333, 26.77646667, 26.76622, 26.75597333, 26.74572667, 26.73548, 26.72523333, 26.71498667, 26.70474, 26.69449333, 26.68424667, 26.674, 26.932, 27.448, 27.964, 28.48, 28.995),
 (2, 'Albania', 35.4, 35.4, 35.4, 35.4, 19.42793192, 35.4, 35.4, 35.4, 35.4, 35.4, 35.4, 35.4, 35.4, 35.4, 35.4, 35.4, 36.29480952, 37.18961905, 38.08442857, 38.9792381, 39.87404762, 40.76885714, 41.66366667, 42.55847619, 43.45328571, 43.0, 42.0, 41.5, 40.0, 37.0, 34.0, 47.0, 50.0, 51.50657143, 52.40138095, 53.29619048, 54.191, 54.399, 54.87600000000001, 55.471, 56.184, 57.012),
 (3, 'Algeria', 29.1606, 28.6572, 28.28783692, 28.28783692, 22.05666781, 28.28783692, 27.5, 27.5, 27.216, 29.624, 30.968000000000004, 31.64, 30.968000000000004, 26.488000000000003, 29.792, 29.96, 31.136, 29.176, 30.397, 31.521, 30.935, 32.596, 33.696, 31.919, 31.297, 33.36, 33.72, 32.09424196, 31.45652951, 27.18079998, 32.09424196, 30.0, 32.0, 35.0, 37.8, 39.9445, 42.089, 42.283, 42.678, 43.081, 43.493, 43.914),
 (4, 'American Samoa', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (5, 'Andorra', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]