In [1]:
import pandas as pd
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, DateTime

In [2]:
engine = create_engine("sqlite:///wwii.sqlite")

In [3]:
conn = engine.connect()

In [4]:
Base = declarative_base()

class Population(Base):
    __tablename__ = 'population'

    id = Column(Integer, primary_key=True)
    country = Column(String)
    year_1920 = Column(Float)
    year_1921 = Column(Float)
    year_1922 = Column(Float)
    year_1923 = Column(Float)
    year_1924 = Column(Float)
    year_1925 = Column(Float)
    year_1926 = Column(Float)
    year_1927 = Column(Float)
    year_1928 = Column(Float)
    year_1929 = Column(Float)
    year_1930 = Column(Float)
    year_1931 = Column(Float)
    year_1932 = Column(Float)
    year_1933 = Column(Float)
    year_1934 = Column(Float)
    year_1935 = Column(Float)
    year_1936 = Column(Float)
    year_1937 = Column(Float)
    year_1938 = Column(Float)
    year_1939 = Column(Float)
    year_1940 = Column(Float)
    year_1941 = Column(Float)
    year_1942 = Column(Float)
    year_1943 = Column(Float)
    year_1944 = Column(Float)
    year_1945 = Column(Float)
    year_1946 = Column(Float)
    year_1947 = Column(Float)
    year_1948 = Column(Float)
    year_1949 = Column(Float)
    year_1950 = Column(Float)
    year_1951 = Column(Float)
    year_1952 = Column(Float)
    year_1953 = Column(Float)
    year_1954 = Column(Float)
    year_1955 = Column(Float)
      
#     ['country', '1920', '1921', '1922', '1923', '1924', '1925',
#        '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934',
#        '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943',
#        '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952',
#        '1953', '1954', '1955'],

#station	date	prcp	tobs
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
    
class Gdp(Base):
    __tablename__ = 'gdp'

    id = Column(Integer, primary_key=True)
    country = Column(String)
    year_1914 = Column(Float)
    year_1915 = Column(Float)
    year_1916 = Column(Float)
    year_1917 = Column(Float)
    year_1918 = Column(Float)
    year_1919 = Column(Float)
    year_1920 = Column(Float)
    year_1921 = Column(Float)
    year_1922 = Column(Float)
    year_1923 = Column(Float)
    year_1924 = Column(Float)
    year_1925 = Column(Float)
    year_1926 = Column(Float)
    year_1927 = Column(Float)
    year_1928 = Column(Float)
    year_1929 = Column(Float)
    year_1930 = Column(Float)
    year_1931 = Column(Float)
    year_1932 = Column(Float)
    year_1933 = Column(Float)
    year_1934 = Column(Float)
    year_1935 = Column(Float)
    year_1936 = Column(Float)
    year_1937 = Column(Float)
    year_1938 = Column(Float)
    year_1939 = Column(Float)
    year_1940 = Column(Float)
    year_1941 = Column(Float)
    year_1942 = Column(Float)
    year_1943 = Column(Float)
    year_1944 = Column(Float)
    year_1945 = Column(Float)
    year_1946 = Column(Float)
    year_1947 = Column(Float)
    year_1948 = Column(Float)
    year_1949 = Column(Float)
    year_1950 = Column(Float)
    year_1951 = Column(Float)
    year_1952 = Column(Float)
    year_1953 = Column(Float)
    year_1954 = Column(Float)
    year_1955 = Column(Float)

#station	name	latitude	longitude	elevation
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
    
class Density(Base):
    __tablename__ = 'density'

    id = Column(Integer, primary_key=True)
    country = Column(String)
    year_1950 = Column(Float)
    year_1951 = Column(Float)
    year_1952 = Column(Float)
    year_1953 = Column(Float)
    year_1954 = Column(Float)
    year_1955 = Column(Float)

#station	date	prcp	tobs
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
    
class Life_Expectancy(Base):
    __tablename__ = 'life_expectancy'

    id = Column(Integer, primary_key=True)
    country = Column(String)
    year_1914 = Column(Float)
    year_1915 = Column(Float)
    year_1916 = Column(Float)
    year_1917 = Column(Float)
    year_1918 = Column(Float)
    year_1919 = Column(Float)
    year_1920 = Column(Float)
    year_1921 = Column(Float)
    year_1922 = Column(Float)
    year_1923 = Column(Float)
    year_1924 = Column(Float)
    year_1925 = Column(Float)
    year_1926 = Column(Float)
    year_1927 = Column(Float)
    year_1928 = Column(Float)
    year_1929 = Column(Float)
    year_1930 = Column(Float)
    year_1931 = Column(Float)
    year_1932 = Column(Float)
    year_1933 = Column(Float)
    year_1934 = Column(Float)
    year_1935 = Column(Float)
    year_1936 = Column(Float)
    year_1937 = Column(Float)
    year_1938 = Column(Float)
    year_1939 = Column(Float)
    year_1940 = Column(Float)
    year_1941 = Column(Float)
    year_1942 = Column(Float)
    year_1943 = Column(Float)
    year_1944 = Column(Float)
    year_1945 = Column(Float)
    year_1946 = Column(Float)
    year_1947 = Column(Float)
    year_1948 = Column(Float)
    year_1949 = Column(Float)
    year_1950 = Column(Float)
    year_1951 = Column(Float)
    year_1952 = Column(Float)
    year_1953 = Column(Float)
    year_1954 = Column(Float)
    year_1955 = Column(Float)

#station	name	latitude	longitude	elevation
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [5]:
Base.metadata.create_all(engine)

In [6]:
population = "population_final_cleaned.csv"
density = "density_final_cleaned.csv"
gdp = "gdp_final_cleaned.csv"
life_exp = "life_exp_final_cleaned.csv"

In [7]:
population_df = pd.read_csv(population)
density_df = pd.read_csv(density)
gdp_df = pd.read_csv(gdp)
life_exp_df = pd.read_csv(life_exp)

In [8]:
populations = population_df.to_dict(orient='records')

In [9]:
densities = density_df.to_dict(orient='records')

In [10]:
gdps = gdp_df.to_dict(orient='records')

In [11]:
life_expects = life_exp_df.to_dict(orient='records')

In [13]:
print(populations[:5])

[{'country': 'Abkhazia', 'year_1920': nan, 'year_1921': nan, 'year_1922': nan, 'year_1923': nan, 'year_1924': nan, 'year_1925': nan, 'year_1926': nan, 'year_1927': nan, 'year_1928': nan, 'year_1929': nan, 'year_1930': nan, 'year_1931': nan, 'year_1932': nan, 'year_1933': nan, 'year_1934': nan, 'year_1935': nan, 'year_1936': nan, 'year_1937': nan, 'year_1938': nan, 'year_1939': nan, 'year_1940': nan, 'year_1941': nan, 'year_1942': nan, 'year_1943': nan, 'year_1944': nan, 'year_1945': nan, 'year_1946': nan, 'year_1947': nan, 'year_1948': nan, 'year_1949': nan, 'year_1950': nan, 'year_1951': nan, 'year_1952': nan, 'year_1953': nan, 'year_1954': nan, 'year_1955': nan}, {'country': 'Afghanistan', 'year_1920': nan, 'year_1921': nan, 'year_1922': nan, 'year_1923': nan, 'year_1924': nan, 'year_1925': nan, 'year_1926': nan, 'year_1927': nan, 'year_1928': nan, 'year_1929': nan, 'year_1930': nan, 'year_1931': nan, 'year_1932': nan, 'year_1933': nan, 'year_1934': nan, 'year_1935': nan, 'year_1936': nan, 'year_1937': nan, 'year_1938': nan, 'year_1939': nan, 'year_1940': nan, 'year_1941': nan, 'year_1942': nan, 'year_1943': nan, 'year_1944': nan, 'year_1945': nan, 'year_1946': nan, 'year_1947': nan, 'year_1948': nan, 'year_1949': nan, 'year_1950': '8,151,455', 'year_1951': '8,276,820', 'year_1952': '8,407,148', 'year_1953': '8,542,906', 'year_1954': '8,684,494', 'year_1955': '8,832,253'}, {'country': 'Akrotiri and Dhekelia', 'year_1920': nan, 'year_1921': nan, 'year_1922': nan, 'year_1923': nan, 'year_1924': nan, 'year_1925': nan, 'year_1926': nan, 'year_1927': nan, 'year_1928': nan, 'year_1929': nan, 'year_1930': nan, 'year_1931': nan, 'year_1932': nan, 'year_1933': nan, 'year_1934': nan, 'year_1935': nan, 'year_1936': nan, 'year_1937': nan, 'year_1938': nan, 'year_1939': nan, 'year_1940': nan, 'year_1941': nan, 'year_1942': nan, 'year_1943': nan, 'year_1944': nan, 'year_1945': nan, 'year_1946': nan, 'year_1947': nan, 'year_1948': nan, 'year_1949': nan, 'year_1950': nan, 'year_1951': nan, 'year_1952': nan, 'year_1953': nan, 'year_1954': nan, 'year_1955': nan}, {'country': 'Albania', 'year_1920': '932,000', 'year_1921': '937,000', 'year_1922': '942,000', 'year_1923': '947,000', 'year_1924': '952,000', 'year_1925': '956,000', 'year_1926': '962,000', 'year_1927': '967,000', 'year_1928': '972,000', 'year_1929': '977,000', 'year_1930': '982,000', 'year_1931': '988,000', 'year_1932': '993,000', 'year_1933': '998,000', 'year_1934': '1,003,000', 'year_1935': '1,009,000', 'year_1936': '1,014,000', 'year_1937': '1,030,000', 'year_1938': '1,040,000', 'year_1939': '1,070,000', 'year_1940': '1,088,000', 'year_1941': '1,100,000', 'year_1942': '1,117,000', 'year_1943': '1,119,000', 'year_1944': '1,122,000', 'year_1945': '1,138,000', 'year_1946': '1,154,000', 'year_1947': '1,175,000', 'year_1948': '1,192,000', 'year_1949': '1,209,000', 'year_1950': '1,215,002', 'year_1951': '1,239,971', 'year_1952': '1,269,302', 'year_1953': '1,302,536', 'year_1954': '1,339,240', 'year_1955': '1,378,998'}, {'country': 'Algeria', 'year_1920': nan, 'year_1921': nan, 'year_1922': nan, 'year_1923': nan, 'year_1924': nan, 'year_1925': nan, 'year_1926': nan, 'year_1927': nan, 'year_1928': nan, 'year_1929': nan, 'year_1930': nan, 'year_1931': nan, 'year_1932': nan, 'year_1933': nan, 'year_1934': nan, 'year_1935': nan, 'year_1936': nan, 'year_1937': nan, 'year_1938': nan, 'year_1939': nan, 'year_1940': nan, 'year_1941': nan, 'year_1942': nan, 'year_1943': nan, 'year_1944': nan, 'year_1945': nan, 'year_1946': nan, 'year_1947': nan, 'year_1948': nan, 'year_1949': nan, 'year_1950': '8,752,997', 'year_1951': '8,953,373', 'year_1952': '9,140,990', 'year_1953': '9,326,099', 'year_1954': '9,515,990', 'year_1955': '9,715,002'}]

In [ ]:
print(densities[:5])
print(gdps[:5])
print(life_expects[:5])